#DisImg1{
    display: none;
}

#Dis2{
    display: none;
}

#DisImg3{
    display: none;
}

#Dis4{
    display: none;
}

#DisImg5{
    display: none;
}

#DisImg6{
    display: none;
}

#Dis7{
    display: none;
}

#Dis8{
    display: none;
}

#Dis9{
    display: none;
}

#Dis10{
    display: none;
}

#Dis11{
    display: none;
}

#Dis12{
    display: none;
}