a.imag{
    position: relative;
    z-index: 1;
}

.spell{
    color: green;
}

.card{
    font-family: 'Games Regular';
}

a.imag:hover{
    cursor: help;
    z-index: 2;
}

a.imag span{
    display: none;
}

a.imag:hover span{
    display:block;
    position:absolute;
    z-index: 3;
    top: -155px;
    left: -50px;
}

.resize_card{
    margin-left: 200px;
    margin-top: 150px;
    height: 750px;
}